#id1{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
}
#id2{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:400px;
}
#id3{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
}
#id4{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
}

#id5{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 500px;
	height:400px;
	
}

#id6{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 180px;
	height:400px;
	

}

#id7{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
	clear: both;
}





#id8{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
}

#id9{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 180px;
	height:400px;
	
}

#id10{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 500px;
	height:400px;
	
}

#id11{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
	clear: both;
}


#id12{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
}
#id13{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	float: left;
	width: 500px;
	height:400px;
}#id14{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 80px;
	height:400px;
}
#id15{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 80px;
	height:400px;
}
#id16{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
	clear: both;
}




#id17{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
}
#id18{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	float: left;
	width: 80px;
	height:400px;
}#id19{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 80px;
	height:400px;
}
#id20{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 500px;
	height:400px;
}
#id21{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
	clear: both;
}






#id22{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
}
#id23{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	float: left;
	width: 80px;
	height:400px;
}
#id24{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 500px;
	height:400px;

}
#id25{
	border: 1px solid black;
	background-color: tomato;
	float: left;
	margin: 10px;
	width: 80px;
	height:400px;
}
#id26{
	border: 1px solid black;
	background-color: tomato;
	margin: 10px;
	width: 700px;
	height:100px;
	clear: both;
}
